html,
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
}

.logo {
    width: 90px;
}

.bg-bitbyt {
    background-color: #52d6d3;
}


.bg-bitbyt-secondary {
    background-color: #302579;
}

.purple-bitbyt {
    color: #302579 !important;
}

.bg-bitbyt-purple {
    background-color: #302579;
}

.h .purple-bitbyt {
    color: #302579 !important;
}

.navbar {
    min-height: 80px;
    font-family: 'Roboto Mono', monospace;
}

.btn-submit {
    background-color: #302579;
    border-color: black;
}

.btn-registrer {
    color: antiquewhite !important;
    border-radius: 50px;
    background-color: #302579;
    border-color: black;
    padding-left: 0.9em !important;
    padding-right: 0.9em !important;
}

.btn-registrer:hover,
.btn-registrer:active {
    background-color: #271e62;
}

.btn-purple {
    color: white;
    background-color: #302579;
    border-color: black;
}

.btn-purple:hover,
.btn-purple:active {
    background-color: #271e62;
}

/* styles the most outer container in the navigation bar */
.container_head {
    background-color: #52d6d3;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* this class styles the containers in the navigation bar */
.bottom_links {
    text-align: center;
}

/* Upload ID was created cause it didnt work as a class */
#upload {
    text-align: center;
}

/* Styles the icons */
.bottom_icons {
    font-size: 1.6rem;
    color: black;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

/* Styles the text under the icons */
.icon_text {
    text-align: center;
    color: black;
    font-size: 0.7rem;
}

.navbar-toggler {
    margin-top: 0.9rem;
}

.avatar {
    border-radius: 90%;
    width: 14rem;
}

.profil_brugernavn {
    font-size: 1.5rem;
    font-weight: bold;
}

.under_profil {
    font-size: 0.8rem;
    font-weight: bold;
    color: lightgrey;
}

.profil_variabler {
    font-size: 1.3rem;
    font-weight: bold;

}

.profil_container {
    padding-top: 10%;
}

.icon-footer {
    color: white !important;
    /* Fix til forskellige browsers */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.icon-footer :hover {
    color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
